.list-header {
  display: flex;
  column-gap: 1.5em;

  & > * {
    min-width: 90px;
  }
}

.category-item {
  display: flex;
  column-gap: 1.5em;

  & > * {
    min-width: 90px;
  }
}

.notification {
  background-color: #555;
  padding: 1em;
  color: #fff;
}


header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: rgb(0, 0, 0);
  font-family: 'Exo 2', sans-serif;
}

 .notification { /* TODO: Absolument pas responsive, à refaire... */
  position: fixed;
    width: 100%;
    top: 70px;
}